.main {
    padding: 2% 2% 0 2%;
}

input[type="range"][orient="vertical"] {
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 100px;
}

input[type="range"][orient="vertical"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #009fda;
    cursor: pointer;
    margin: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

.timeFont {
    font-family: 'Courier New', Courier, monospace;
}

span:hover {
    cursor: pointer;
}

.projname:hover {
    cursor: pointer;
}

/* For the stack controller */

.stackController {
    padding-top: 100px;
}

a:hover {
    cursor: pointer;
}

.pos-center {
    text-align: center;
}

.inputStyle {
    display: none;
}

.trackContainer {
    padding-top: 1%;
    border-style: solid;
    /* Temporarily setting border for tracks */
    border-color: rgba(255, 0 ,0, 0.5);
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.125%;
    margin-right: 0.125%;
}